    body {
    background-color: black;
    color: #00ff00;
}

h2 {
    color: #00ff00;
    position: absolute;
    left: 45%;
}

video {
    position: absolute;
    top: 25%;
    width: 45%;
    border: 3px solid #73AD21;
}

select {
    right: 12%;
    position: absolute;
    top: 24.8%;
    width: 25%;
}

input {
    position: absolute;
    top: 76%
}

div.palavras {
    position: absolute;
    top: 80%;
    right: 80%;
}

button.trocar {
    color: green;
    position: absolute;
    top: 28.9%;
    right: 19%;
    width: 15%;
    font-size: 135%;
}

div.tabela {
    position: absolute;
    border: #00ff00;
    border-style: solid;
    top: 50%;
    right: 20%;
    height: 125px;
    width: 140px;
}

button.loop {
    width: 65px;
    height: 30px;
    font-size: 115%;
}

button.antes {
    width: 65px;
    height: 30px;
    font-size: 25px;
}

button.proximo {
    width: 65px;
    height: 30px;
    font-size: 25px;
}

button.skip {
    width: 65px;
    height: 30px;
    font-size: 25px;
}